@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/**Primary**/
/**Dark Theme**/
/**Light Theme**/
/*** Neutral ***/
/**** Dark Theme ****/
/**** Light Theme ****/
/*Typography*/
/* Social Media Colors */
/*
*   :root[data-theme="theme-light"]
*   :root[data-theme="theme-dark"]
*/
:root {
  --background-color: hsl(0, 0%, 100%);
  --background-color-top: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --text-color-primary: hsl(228, 12%, 44%);
  --text-color-sencondary: hsl(230, 17%, 14%);
  --bg-theme-switcher:  linear-gradient(to left top, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --circle-color: hsl(225, 100%, 98%); }

body.dark-theme {
  --background-color: hsl(230, 17%, 14%);
  --background-color-top: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --text-color-primary: hsl(228, 34%, 66%);
  --text-color-sencondary: hsl(0, 0%, 100%);
  --bg-theme-switcher:  linear-gradient(to left top, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --circle-color: hsl(232, 19%, 15%); }

body {
  height: 100vh;
  background-image: linear-gradient(var(--background-color-top) 30%, var(--background-color) 30%);
  background-repeat: no-repeat;
  transition: all 2s ease; }

* {
  margin: 0;
  padding: 0; }

.home {
  margin: 4% 8%; }

.title-theme {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 700; }

.social-media {
  margin-top: 6%; }

.main-social-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 6%; }

.overview-stats {
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }

.title-dash {
  font-size: calc(14px * 2);
  color: var(--text-color-sencondary);
  margin-bottom: 6px; }

.stats-dash {
  font-size: 14px;
  color: var(--text-color-primary); }

.overview-title {
  font-family: "Inter", sans-serif;
  font-size: calc(12px *2);
  font-weight: 700;
  color: var(--text-color-primary);
  margin-bottom: 16px; }

.theme-switcher {
  font-size: 14px;
  color: var(--text-color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center; }

input[type="checkbox"] {
  position: relative;
  width: 55px;
  height: 25px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  background: var(--bg-theme-switcher);
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 300ms linear;
  margin-left: 8px; }
  input[type="checkbox"]::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 2px;
    left: 5px;
    border-radius: 20px;
    background-color: var(--circle-color);
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 300ms linear; }
  input[type="checkbox"]:checked::before {
    left: 30px;
    background-color: var(--circle-color); }

.main-social-media__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 200px;
  font-family: "Inter", sans-serif;
  background-color: var(--card-background);
  border-radius: 8px;
  margin: 0 14px;
  position: relative; }

.main-social-media__user {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-primary);
  margin-left: 8px; }

.main-social-media__stats {
  font-size: calc(14px * 4);
  font-weight: 700;
  color: var(--text-color-sencondary); }

.main-social-media__followers {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--text-color-primary); }

.main-social-media__stats-today {
  font-size: 12px;
  display: flex;
  align-items: center; }

.user-icon-social {
  display: flex; }

.main-social-media__box:nth-child(1)::before {
  content: "";
  background: #198ff5;
  position: absolute;
  width: calc(95% + 10px);
  height: calc(90% + 10px);
  top: -3px;
  z-index: -1;
  border-radius: 8px; }

.main-social-media__box:nth-child(2)::before {
  content: "";
  background: #1ca0f2;
  position: absolute;
  width: calc(95% + 10px);
  height: calc(90% + 10px);
  top: -3px;
  z-index: -1;
  border-radius: 8px; }

.main-social-media__box:nth-child(3)::before {
  content: "";
  background: linear-gradient(to left top, #fdc468, #df4996);
  position: absolute;
  width: calc(95% + 10px);
  height: calc(90% + 10px);
  top: -3px;
  z-index: -1;
  border-radius: 8px; }

.main-social-media__box:nth-child(4)::before {
  content: "";
  background: #c4032a;
  position: absolute;
  width: calc(95% + 10px);
  height: calc(90% + 10px);
  top: -3px;
  z-index: -1;
  border-radius: 8px; }

.overview-stats__box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 140px;
  font-family: "Inter", sans-serif;
  background-color: var(--card-background);
  border-radius: 8px;
  margin: 6px 14px;
  position: relative; }

.overview-stats__resume {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.overview-stats__subject {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-primary); }

.overview-stats__today {
  font-size: calc(14px * 2);
  font-weight: 700;
  color: var(--text-color-sencondary); }

.overview-percent__today {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color-primary);
  margin-top: 14px;
  display: flex;
  align-items: center; }

.social-numbers {
  margin-left: 4px; }

.social-numbers--positive {
  color: green;
  font-weight: 700; }

.social-numbers--negative {
  color: red;
  font-weight: 700; }
