.overview-stats__box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 140px;
    font-family: $font-family;
    background-color: var(--card-background);
    border-radius: 6px;
    margin: 6px 14px;
    position: relative;
    padding: 2% 0;
    transition: all .8s;
}

.overview-stats__box:hover {
    background-color: var(--card-background-hover);
}

.overview-stats__resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overview-stats__subject {
    font-size: $font-size;
    font-weight: $font-weights-700;
    color: var(--text-color-primary);
}

.overview-stats__today {
    font-size: calc(14px * 2);
    font-weight: $font-weights-700;
    color: var(--text-color-sencondary);
}

.overview-percent__today {
    font-size: 12px;
    font-weight: $font-weights-700;
    color: var(--text-color-primary);
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.social-numbers {
    margin-left: 4px;
}

.social-numbers--positive {
    color: green;
    font-weight: $font-weights-700;
}

.social-numbers--negative {
    color: red;
    font-weight: $font-weights-700;
}